.clearfix
  = f.label :actividades, t("activerecord.attributes.actividade.nombre", :default => "Actividades"), :class => :label
  .input
    = f.collection_select(:actividade_id, @actividades, :id, :nombre, { :class => 'text_field input' })

.clearfix
  = f.label :nombre, t("activerecord.attributes.alumno.nombre", :default => "Nombre"), :class => :label
  .input
    = f.text_field :nombre, :class => 'text_field'
.clearfix
  = f.label :cuenta, t("activerecord.attributes.alumno.cuenta", :default => "Cuenta"), :class => :label
  .input
    = f.number_field :cuenta, :class => 'number_field'
.clearfix
  = f.label :facultad, t("activerecord.attributes.alumno.facultad", :default => "Facultad"), :class => :label
  .input
    = f.text_field :facultad, :class => 'text_field'
.clearfix
  = f.label :carrera, t("activerecord.attributes.alumno.carrera", :default => "Carrera"), :class => :label
  .input
    = f.text_field :carrera, :class => 'text_field'
.clearfix
  = f.label :semestre, t("activerecord.attributes.alumno.semestre", :default => "Semestre"), :class => :label
  .input
    = f.text_field :semestre, :class => 'text_field'
.clearfix
  = f.label :grupo, t("activerecord.attributes.alumno.grupo", :default => "Grupo"), :class => :label
  .input
    = f.text_field :grupo, :class => 'text_field'
.clearfix
  = f.label :a1, t("activerecord.attributes.alumno.a1", :default => "A1"), :class => :label
  .input
    = f.check_box :a1, :class => 'check_box'
.clearfix
  = f.label :a2, t("activerecord.attributes.alumno.a2", :default => "A2"), :class => :label
  .input
    = f.check_box :a2, :class => 'check_box'
.clearfix
  = f.label :a3, t("activerecord.attributes.alumno.a3", :default => "A3"), :class => :label
  .input
    = f.check_box :a3, :class => 'check_box'
.clearfix
  = f.label :a4, t("activerecord.attributes.alumno.a4", :default => "A4"), :class => :label
  .input
    = f.check_box :a4, :class => 'check_box'
.clearfix
  = f.label :asistencias1, t("activerecord.attributes.alumno.asistencias1", :default => "Asistencias1"), :class => :label
  .input
    = f.number_field :asistencias1, :class => 'number_field'
.clearfix
  = f.label :creditos1, t("activerecord.attributes.alumno.creditos1", :default => "Creditos1"), :class => :label
  .input
    = f.number_field :creditos1, :class => 'number_field'
.clearfix
  = f.label :b1, t("activerecord.attributes.alumno.b1", :default => "B1"), :class => :label
  .input
    = f.check_box :b1, :class => 'check_box'
.clearfix
  = f.label :b2, t("activerecord.attributes.alumno.b2", :default => "B2"), :class => :label
  .input
    = f.check_box :b2, :class => 'check_box'
.clearfix
  = f.label :b3, t("activerecord.attributes.alumno.b3", :default => "B3"), :class => :label
  .input
    = f.check_box :b3, :class => 'check_box'
.clearfix
  = f.label :b4, t("activerecord.attributes.alumno.b4", :default => "B4"), :class => :label
  .input
    = f.check_box :b4, :class => 'check_box'
.clearfix
  = f.label :asistencias2, t("activerecord.attributes.alumno.asistencias2", :default => "Asistencias2"), :class => :label
  .input
    = f.number_field :asistencias2, :class => 'number_field'
.clearfix
  = f.label :creditos2, t("activerecord.attributes.alumno.creditos2", :default => "Creditos2"), :class => :label
  .input
    = f.number_field :creditos2, :class => 'number_field'
.clearfix
  = f.label :c1, t("activerecord.attributes.alumno.c1", :default => "C1"), :class => :label
  .input
    = f.check_box :c1, :class => 'check_box'
.clearfix
  = f.label :c2, t("activerecord.attributes.alumno.c2", :default => "C2"), :class => :label
  .input
    = f.check_box :c2, :class => 'check_box'
.clearfix
  = f.label :c3, t("activerecord.attributes.alumno.c3", :default => "C3"), :class => :label
  .input
    = f.check_box :c3, :class => 'check_box'
.clearfix
  = f.label :c4, t("activerecord.attributes.alumno.c4", :default => "C4"), :class => :label
  .input
    = f.check_box :c4, :class => 'check_box'
.clearfix
  = f.label :asistencias3, t("activerecord.attributes.alumno.asistencias3", :default => "Asistencias3"), :class => :label
  .input
    = f.number_field :asistencias3, :class => 'number_field'
.clearfix
  = f.label :creditos3, t("activerecord.attributes.alumno.creditos3", :default => "Creditos3"), :class => :label
  .input
    = f.number_field :creditos3, :class => 'number_field'

.form-actions
  %button{:class => "btn primary", :type => "Enviar"} Save
  or
  = link_to "Cancel", alumnos_path
