#navigation
  #menu
    %ul
      %li= link_to "Acreditaciones", "/"
      %li= link_to "Alumnos", alumnos_path
      %li= link_to "Actividades", actividades_path
      %li= link_to "Ordinarios", ordinarios_path
%table  
#table
  %thead
    %tr
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.nombre", :default => t("activerecord.labels.nombre", :default => "Nombre")) + ":"           
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.cuenta", :default => t("activerecord.labels.cuenta", :default => "Cuenta")) + ":"            
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.facultad", :default => t("activerecord.labels.facultad", :default => "Facultad")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.carrera", :default => t("activerecord.labels.carrera", :default => "Carrera")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.semestre", :default => t("activerecord.labels.semestre", :default => "Semestre")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.grupo", :default => t("activerecord.labels.grupo", :default => "Grupo")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.a1", :default => t("activerecord.labels.a1", :default => "P1")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.a1", :default => t("activerecord.labels.a1", :default => "P2")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.a1", :default => t("activerecord.labels.a1", :default => "P3")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.a1", :default => t("activerecord.labels.a1", :default => "P4")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.asistencias1", :default => t("activerecord.labels.asistencias1", :default => "Asistencias1")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.creditos1", :default => t("activerecord.labels.creditos1", :default => "Creditos1")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.a1", :default => t("activerecord.labels.a1", :default => "P1")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.a1", :default => t("activerecord.labels.a1", :default => "P2")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.a1", :default => t("activerecord.labels.a1", :default => "P3")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.a1", :default => t("activerecord.labels.a1", :default => "P4")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.asistencias2", :default => t("activerecord.labels.asistencias2", :default => "Asistencias2")) + ":"
        
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.creditos2", :default => t("activerecord.labels.creditos2", :default => "Creditos2")) + ":"        
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.a1", :default => t("activerecord.labels.a1", :default => "P1")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.a1", :default => t("activerecord.labels.a1", :default => "P2")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.a1", :default => t("activerecord.labels.a1", :default => "P3")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.a1", :default => t("activerecord.labels.a1", :default => "P4")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.asistencias3", :default => t("activerecord.labels.asistencias3", :default => "Asistencias3")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.creditos3", :default => t("activerecord.labels.creditos3", :default => "Creditos3")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.alumno.creditos3", :default => t("activerecord.labels.creditos3", :default => "Creditos totales")) + ":"
        

  %tbody
    %tr
      %td
        %p= @alumno.nombre
      %td
        %p= @alumno.cuenta
      %td
        %p= @alumno.facultad
      %td
        %p= @alumno.carrera
      %td
        %p= @alumno.semestre
      %td
        %p= @alumno.grupo
      %td
        %p= @alumno.a1
      %td
        %p= @alumno.a2
      %td
        %p= @alumno.a3
      %td
        %p= @alumno.a4
      %td
        %p= @alumno.asistencias1
      %td
        %p= @alumno.creditos1
      %td
        %p= @alumno.b1
      %td
        %p= @alumno.b2
      %td
        %p= @alumno.b3
      %td
        %p= @alumno.b4
      %td
        %p= @alumno.asistencias2
      %td
        %p= @alumno.creditos2
      %td
        %p= @alumno.c1
      %td
        %p= @alumno.c2
      %td
        %p= @alumno.c3
      %td
        %p= @alumno.c4
      %td
        %p= @alumno.asistencias3
      %td
        %p= @alumno.creditos3
    

.form-actions
  = link_to "Back", alumnos_path, :class => 'btn'
  = link_to "Edit", edit_alumno_path(@alumno), :class => 'btn'
  = link_to "Delete", alumno_path(@alumno), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn'
