<div  id="slideshow" >
  <div id="slideshowWindow">

      <div class="slide"> 
      <%=image_tag "corre.jpg"%>
        <div class="slideText">
          <h2 class="slideTitle">Slide 1</h2>
          <p class="slideDes">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          <p>
          <p class="slideLink">
          <%=link_to "click here", "#", :remote => true%>
          </p>
        </div>
    </div>

    <div class="slide">
      <%=image_tag "bici.jpg"%>
        <div class="slideText">
        <h2 class="slideTitle">Slide 2</h2>
          <p class="slideDes">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          <p>
          <p class="slideLink">
          <%=link_to "click here", "#", :remote => true%>
          </p>
        </div>
        
    </div>

    <div class="slide">
      <%=image_tag "handball.jpg"%>

      <div class="slideText">
        <h2 class="slideTitle">Slide 3</h2>
          <p class="slideDes">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          <p>
          <p class="slideLink">
          <%=link_to "click here", "#", :remote => true%>
          </p>
        </div>
    </div>

     <div class="slide">
      <%=image_tag "cine.jpg"%>

      <div class="slideText">
        <h2 class="slideTitle">Slide 3</h2>
          <p class="slideDes">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          <p>
          <p class="slideLink">
          <%=link_to "click here", "#", :remote => true%>
          </p>
        </div>
    </div>

    <div class="slide">
      <%=image_tag "rondalla.png"%>

      <div class="slideText">
        <h2 class="slideTitle">Slide 3</h2>
          <p class="slideDes">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          <p>
          <p class="slideLink">
          <%=link_to "click here", "#", :remote => true%>
          </p>
        </div>
    </div>

  </div>
</div>
