%h1 Alumnos
%table{:class => "table table-striped"}
  %thead
    %tr
      %th Numero de cuenta
      %th
        = t("activerecord.attributes.alumno.nombre", :default => t("activerecord.labels.nombre", :default => "Nombre"))
      %th Created at
      %th Actions
  %tbody
    - @alumnos.each do |alumno|
      %tr
        %td= alumno.cuenta
        %td= link_to alumno.nombre, alumno_path(alumno)
        %td= alumno.created_at
        %td
          = link_to "Show", alumno_path(alumno)
          = link_to "Edit", edit_alumno_path(alumno)
          = link_to "Destroy", alumno_path(alumno), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"

= link_to "New", new_alumno_path, :class => 'btn btn-primary'