= simple_form_for(@actividade) do |f|
  = f.error_notification

  .inputs
    = f.input :nombre
    = f.input :administrador
    = f.input :fecha_inicio
    = f.input :fecha_termino

  .actions
    = f.button :submit
