%table
  %tr
    %td
      = f.label :nombre, t("activerecord.attributes.actividade.nombre", :default => "Nombre"), :class => :label
  %tr
    %td
      = f.text_field :nombre, :class => 'text_field'
  %tr
    %td
      = f.label :administrador, t("activerecord.attributes.actividade.administrador", :default => "Administrador"), :class => :label
  %tr
    %td
      = f.text_field :administrador, :class => 'text_field'
.clearfix
  = f.label :fecha_inicio, t("activerecord.attributes.actividade.fecha_inicio", :default => "Fecha inicio"), :class => :label
  .input
    = f.datetime_select :fecha_inicio, :class => 'datetime_select'
.clearfix
  = f.label :fecha_termino, t("activerecord.attributes.actividade.fecha_termino", :default => "Fecha termino"), :class => :label
  .input
    = f.datetime_select :fecha_termino, :class => 'datetime_select'

.form-actions
  %button{:class => "btn primary", :type => "submit"} Save
  or
  = link_to "Cancel", actividades_path
