#navigation
  #menu
    %ul
      %li= link_to "Alumnos", alumnos_path
      %li= link_to "Actividades", actividades_path
      %li= link_to "Ordinarios", ordinarios_path
%center
  %h1 Actividades
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.actividade.nombre", :default => t("activerecord.labels.nombre", :default => "Nombre"))
      %th Created at
      %th Actions
  %tbody
    - @actividades.each do |actividade|
      %tr
        %td= actividade.id
        %td= link_to actividade.nombre, actividade_path(actividade)
        %td= actividade.created_at
        %td
          = link_to "Show", actividade_path(actividade)
          = link_to "Edit", edit_actividade_path(actividade)
          = link_to "Destroy", actividade_path(actividade), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"

= link_to "New", new_actividade_path, :class => 'btn btn-primary'
