%h1 Ordinarios
%table{:class => "table table-striped"}
  %thead
    %tr
      %th Nombre
      %th ID
      %th
        = t("activerecord.attributes.ordinario.asistenciaso", :default => t("activerecord.labels.asistenciaso", :default => "Asistencias"))
      %th Created at
      %th Actions
  %tbody
    - @ordinarios.each do |ordinario|
      %tr
        %td= ordinario.nombre
        %td= ordinario.id
        %td= link_to ordinario.asistenciaso, ordinario_path(ordinario)
        %td= ordinario.created_at
        %td
          = link_to "Show", ordinario_path(ordinario)
          = link_to "Edit", edit_ordinario_path(ordinario)
          = link_to "Destroy", ordinario_path(ordinario), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"

= link_to "New", new_ordinario_path, :class => 'btn btn-primary'
