%center
  %h2= @ordinario.nombre
%table{:class => "table table-striped"}
  %thead
    %tr
      
      %th 
        %label{:class => "label"}= t("activerecord.attributes.ordinario.asistenciaso", :default => t("activerecord.labels.asistenciaso", :default => "Asistencias")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.ordinario.creditoso", :default => t("activerecord.labels.creditoso", :default => "Creditos")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.ordinario.o1", :default => t("activerecord.labels.o1", :default => "P1")) + ":"
      %th
        %label{:class => "label"}= t("activerecord.attributes.ordinario.o1", :default => t("activerecord.labels.o1", :default => "P2")) + ":"

      %th
        %label{:class => "label"}= t("activerecord.attributes.ordinario.o1", :default => t("activerecord.labels.o1", :default => "P3")) + ":"

      %th
        %label{:class => "label"}= t("activerecord.attributes.ordinario.o1", :default => t("activerecord.labels.o1", :default => "P4")) + ":"

  %tbody
    %tr
      %td= @ordinario.asistenciaso
      %td= @ordinario.creditoso
      %td= @ordinario.o1
      %td= @ordinario.o2
      %td= @ordinario.o3
      %td= @ordinario.o4
.form-actions
  = link_to "Back", ordinarios_path, :class => 'btn'
  = link_to "Edit", edit_ordinario_path(@ordinario), :class => 'btn'
  = link_to "Delete", ordinario_path(@ordinario), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn'
