%p#notice= notice

%p
  %b Asistenciaso:
  = @ordinario.asistenciaso
%p
  %b Creditoso:
  = @ordinario.creditoso
%p
  %b O1:
  = @ordinario.o1
%p
  %b O2:
  = @ordinario.o2
%p
  %b O3:
  = @ordinario.o3
%p
  %b O4:
  = @ordinario.o4

= link_to 'Edit', edit_ordinario_path(@ordinario)
\|
= link_to 'Back', ordinarios_path
